In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Tasiilaq,GL,2021-01-22 01:30:53,65.6145,-37.6368,12.20,73,20,2.30
1,1,New Norfolk,AU,2021-01-22 01:30:55,-42.7826,147.0587,75.00,44,97,4.00
2,2,Puerto Escondido,MX,2021-01-22 01:38:56,15.8500,-97.0667,78.80,73,20,3.42
3,3,Bredasdorp,ZA,2021-01-22 01:31:06,-34.5322,20.0403,68.00,88,21,3.44
4,4,Northam,GB,2021-01-22 01:32:01,51.0333,-4.2167,42.01,86,93,5.01

In [3]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# # 1. Assign the locations to an array of latitude and longitude pairs.
# locations = [latitude, longitude]
# # 2. Assign the weights variable to some values.
# temperatures = # an array of length equal to the locations array length
# # 3. Assign the figure variable to the gmaps.figure() attribute.
# fig = gmaps.figure()
# # 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
# heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# # 5. Add the heatmap layer.
# fig.add_layer(heatmap_layer)
# # 6. Call the figure to plot the data.
# fig

In [6]:
# # Get the maximum temperature - if the max temp is less than 0, change to 0
# max_temp = city_data_df["Max Temp"]
# temps = []
# for temp in max_temp:
#     temps.append(max(temp, 0))

In [7]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.6)
# Assign the heatmap variable.
# Since we had a temp less than 0 we will we will update the "weights = max_temp" to equal "temps" as calculated in the previous step. 
# heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
#heat_layer = gmaps.heatmap_layer(locations, weights=temps)
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.6)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.6)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,New Norfolk,AU,2021-01-22 01:30:55,-42.7826,147.0587,75.00,44,97,4.00
2,2,Puerto Escondido,MX,2021-01-22 01:38:56,15.8500,-97.0667,78.80,73,20,3.42
6,6,Vaini,TO,2021-01-22 01:31:09,-21.2000,-175.2000,86.00,79,75,14.97
8,8,Vaitape,PF,2021-01-22 01:38:57,-16.5167,-151.7500,81.57,72,2,17.72
12,12,Busselton,AU,2021-01-22 01:31:02,-33.6500,115.3333,81.00,51,0,3.00
15,15,Pitimbu,BR,2021-01-22 01:36:11,-7.4706,-34.8086,77.00,88,20,5.75
18,18,Bubaque,GW,2021-01-22 01:38:58,11.2833,-15.8333,77.72,67,100,9.71
19,19,Porto Novo,BJ,2021-01-22 01:38:58,6.4965,2.6036,80.60,89,20,5.75
21,21,Avarua,CK,2021-01-22 01:30:59,-21.2078,-159.7750,86.00,70,66,8.05
35,35,Butaritari,KI,2021-01-22 01:30:55,3.0707,172.7902,79.99,80,43,13.87

In [12]:
# Check for null values
preferred_cities_df.isnull().sum()
preferred_cities_df.count()

City_ID       154
City          154
Country       154
Date          154
Lat           154
Lng           154
Max Temp      154
Humidity      154
Cloudiness    154
Wind Speed    154
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                City Country  Max Temp      Lat       Lng Hotel Name
1        New Norfolk      AU     75.00 -42.7826  147.0587
2   Puerto Escondido      MX     78.80  15.8500  -97.0667
6              Vaini      TO     86.00 -21.2000 -175.2000
8            Vaitape      PF     81.57 -16.5167 -151.7500
12         Busselton      AU     81.00 -33.6500  115.3333
15           Pitimbu      BR     77.00  -7.4706  -34.8086
18           Bubaque      GW     77.72  11.2833  -15.8333
19        Porto Novo      BJ     80.60   6.4965    2.6036
21            Avarua      CK     86.00 -21.2078 -159.7750
35        Butaritari      KI     79.99   3.0707  172.7902

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [15]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
            print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [16]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,New Norfolk,AU,75.00,-42.7826,147.0587,The Shingles Riverside Cottages
2,Puerto Escondido,MX,78.80,15.8500,-97.0667,Aldea del Bazar Hotel and Spa
6,Vaini,TO,86.00,-21.2000,-175.2000,Keleti Beach Resort
8,Vaitape,PF,81.57,-16.5167,-151.7500,Conrad Bora Bora Nui
12,Busselton,AU,81.00,-33.6500,115.3333,Observatory Guest House
15,Pitimbu,BR,77.00,-7.4706,-34.8086,Reserva do Abiaí
18,Bubaque,GW,77.72,11.2833,-15.8333,"Casa Dora, Bubaque"
19,Porto Novo,BJ,80.60,6.4965,2.6036,Tour Eiffel Hotel Benin
21,Avarua,CK,86.00,-21.2078,-159.7750,Paradise Inn
35,Butaritari,KI,79.99,3.0707,172.7902,Isles Sunset Lodge

In [17]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [20]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [21]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))